body{
    margin: 0;
    margin-top: 0;
    font-size: 18px;
    padding: 0 auto;
    background-color: whitesmoke;
}
header{
    padding: 0 auto;
    margin-top: 0;
    color: white;
    background: linear-gradient(to right, blueviolet, #978ac8);
    text-align: center;
}
table{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 2rem;
}
.conteudo{
    display: flex;
}
.parte{
    flex: 56;
    margin: 10px;
    padding: 50px;
    text-align: justify;
  }
legend{
    border: 2px solid;
    border-color: blueviolet;
    border-radius: 5px;
    font-size: 20px;
    background-color: blueviolet;
    color: white;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
fieldset{
    width: 85%;
    background-color:whitesmoke;
    border-color: blueviolet;
    border-radius: 2.5%;
}
#nome, #sobrenome, #email{
    background-color:whitesmoke;
    width: 250px;
    margin-bottom: 8px;
    border: none;
    border-bottom: 0.5px solid blueviolet;
}
textarea{
    border-color: blueviolet;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: none;
    width: 420px;
    height: 140px;

}
.botao_resetar, .botao_enviar{
    margin-left: 16%;
    margin-top: 5%;
    margin-bottom: 8px;
    width: 110px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border-color: #7e72ae;
    background-color: #8b7ebb;
    color: white;
    transition: background-color 0.3s;
}
.botao_enviar:hover{
    
    border-color: #7e72ae;
    background-color: #978ac8;
    color: white;
}
.botao_resetar:hover{
    border-color: #7e72ae;
    background-color: #978ac8;
    color: white;
}
footer{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, blueviolet, #978ac8);
    text-align: center;
    color:white;
}